<div class="row mt-5 pt-5">
    <div class="col-12">
        <div class="tm-bg-gray p-4">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h3 class="tm-text-primary mb-3">Detaylı Bilgi</h3>
                    <p class="tm-footer-description">
                        Kişisel koruyucu donanımlar hakkında detaylı bilgi için ilgili yönetmelikleri inceleyebilirsiniz.
                    </p>
                    <div class="tm-footer-links-wrapper">
                        <a href="https://www.resmigazete.gov.tr/eskiler/2012/03/20120311-6.htm" 
                           target="_blank" 
                           rel="noopener noreferrer"
                           class="tm-footer-link">
                            <i class="fas fa-file-pdf"></i>
                            Kişisel Koruyucu Donanım Kategorizasyon Rehberi
                        </a>
                        <span class="mx-3">|</span>
                        <a href="https://www.mevzuat.gov.tr/mevzuat?MevzuatNo=18540&MevzuatTur=7&MevzuatTertip=5" 
                           target="_blank" 
                           rel="noopener noreferrer"
                           class="tm-footer-link">
                            <i class="fas fa-file-alt"></i>
                            KKD'ların İşyerlerinde Kullanılması Hakkında Yönetmelik
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>