<!-- Navbar Partial -->
<nav class="navbar navbar-expand-lg tm-site-header" id="tm-main-nav">
  <div class="container-fluid">
    <a class="navbar-brand tm-site-name text-white" href="/">Kişisel Koruyucu Donanım Ekipman Galerisi</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <i class="fas fa-bars tm-menu-closed-icon"></i>
      <i class="fas fa-times tm-menu-opened-icon"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/">FOTOĞRAFLAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/about">HAKKINDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/add">FOTOĞRAF EKLE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>