<!-- Navbar Partial -->
<nav class="navbar navbar-expand-lg tm-site-header" id="tm-main-nav">
  <div class="container-fluid">
    <a class="navbar-brand tm-site-name text-white" href="/">KKD Ekipman Galerisi</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <i class="fas fa-bars tm-menu-closed-icon"></i>
      <i class="fas fa-times tm-menu-opened-icon"></i>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/">FOTOĞRAFLAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/about">HAKKINDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/add">FOTOĞRAF EKLE</a>
        </li>

        <% if (currentUser) { %>
          <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle d-flex align-items-center text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle fa-lg mr-2"></i>
              <span><%= currentUser.username %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/profile">
                <i class="fas fa-user mr-2"></i>Profilim
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/logout">
                <i class="fas fa-sign-out-alt mr-2"></i>Çıkış Yap
              </a>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item ml-3">
            <a href="/login" class="btn btn-outline-light btn-sm mr-2">
              <i class="fas fa-sign-in-alt mr-1"></i>Giriş Yap
            </a>
            <a href="/register" class="btn btn-light btn-sm">
              <i class="fas fa-user-plus mr-1"></i>Kayıt Ol
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>